asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.2
environs==14.6.0
idna==3.11
marshmallow==4.2.2
pillow==12.1.1
pyTelegramBotAPI==4.32.0
python-dotenv==1.2.2
requests==2.32.5
sqlparse==0.5.5
telebot==0.0.5
tzdata==2025.3
urllib3==2.6.3
